## User settings
CleanApp.xcodeproj/xcuserdata/*
CleanApp.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcuserstate
*.xcuserdatad
CleanApp.xcodeproj/project.xcworkspace/xcuserdata/luizdinizhammerli.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
CleanApp.xcodeproj/project.xcworkspace/xcuserdata/luizdinizhammerli.xcuserdatad/UserInterfaceState.xcuserstate
