## User settings
CleanApp.xcodeproj/xcuserdata/
CleanApp.xcodeproj/xcuserdata/luizdinizhammerli.xcuserdatad/xcschemes/xcschememanagement.plist
CleanApp.xcodeproj/project.xcworkspace/xcuserdata/luizdinizhammerli.xcuserdatad/UserInterfaceState.xcuserstate
CleanApp.xcodeproj/project.xcworkspace/xcuserdata/luizdinizhammerli.xcuserdatad/UserInterfaceState.xcuserstate
CleanApp.xcodeproj/project.xcworkspace/xcuserdata/luizdinizhammerli.xcuserdatad/UserInterfaceState.xcuserstate
CleanApp.xcodeproj/xcuserdata/luizdinizhammerli.xcuserdatad/xcschemes/xcschememanagement.plist
